<h1>$hero.getName()</h1>
<h2>Age:  $hero.getAge()</h2>
<h2>SuperPower:  $hero.SuperPower()</h2>
<h2>Weakness:  $hero.weakness()</h2>

<a href="/heros/new">Add another hero</a>
<a href="/heros">All heros</a>
